<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        {{sujet}}
    </title>
    {{!-- CUSTOM CSS --}}
    <link rel="stylesheet" href={{styleLink}}>
</head>
<body>

</body>
</html>